*{
    padding: 0%;
    margin: 0%;
    background-color: black;
}
.pop{
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 120px;
    top: 400px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: color 0.2s linear;
}
.pop:hover{
    color: green;
}