body{
    margin: 0px;
    padding: 0px;
    font-family: 'League Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 20px;
line-height: 1.6;
color:black;
}
*,
*::before
*::after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

/*бокс*/
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/img/more-lodka-gory-solnce-peyzazh.jpg") center no-repeat;
    background-size: cover;
}
.box__title{
    font-size: 100px;
    font-weight: 700px;
    text-transform: uppercase;
    line-height: 1;
    color: white;
}
.box__liner{
    font-family: 'League Gothic', sans-serif;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
}

/*Контейнер*/
.conteiner{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

/*Основа*/
.section{
    font-family: 'Roboto', sans-serif;
    padding: 80px 0px;
}
.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__a{
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}
.section__a:hover{
    color: green;
}
/*img*/
.card{
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}
.card__item{
    width: 38.33333%;
    padding: 0 15px;
}
.card__item img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
}
/*Основа2*/
.section2{
    font-family: 'Roboto', sans-serif;
    padding: 80px 0px;
}
.section__header2{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__a2{
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}
.section__a2:hover{
    color: green;
}
/*img*/
.card2{
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}
.card__item2{
    width: 38.33333%;
    padding: 0 15px;
}
.card__item2 img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
}
/*Основа3*/
.section3{
    font-family: 'Roboto', sans-serif;
    padding: 80px 0px;
}
.section__header3{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__a3{
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}
.section__a3:hover{
    color: green;
}
/*img3*/
.card3{
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}
.card__item3{
    width: 38.33333%;
    padding: 0 15px;
}
.card__item3 img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
}
/*Основа4*/
.section4{
    font-family: 'Roboto', sans-serif;
    padding: 80px 0px;
}
.section__header4{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__a4{
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}
.section__a4:hover{
    color: green;
}
/*img4*/
.card4{
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}
.card__item4{
    width: 38.33333%;
    padding: 0 15px;
}
.card__item4 img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
}


/*Подвал*/
.footer{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: burlywood;
}
.footer__liner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pop{
    text-decoration: none;
    color: black;
    transition: color 0.2s linear;
}
.pop:hover{
    color: green;
}
@media(max-width:1271px){
    .section{
        padding: 40px;
    }
    .section2{
        padding: 40px;
    }
    .section3{
        padding: 40px;
    }
    .section4{
        padding: 40px;
    }
}
@media(max-width:990px){
    .box__title{
        font-size: 90px;
    }
}
@media(max-width:860px){
    .header{
        padding-top: 10px;
    }
    .section{
        padding: 40px;
    }
    .card{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card__item{
        width: 100%;
        max-width:410px;
        margin-bottom: 30px;
    }
    .card2{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card__item2{
        width: 100%;
        max-width:410px;
        margin-bottom: 30px;
    }
    .card3{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card__item3{
        width: 100%;
        max-width:410px;
        margin-bottom: 30px;
    }
    .card4{
        justify-content: center;
        flex-wrap: wrap;
    }
    .card__item4{
        width: 100%;
        max-width:410px;
        margin-bottom: 30px;
    }
    .box__title{
        font-size: 60px;
    }
    .header__logo{
        font-size: 30px;
    }
}
@media(max-width:575px){
    .box__title{
        font-size: 50px;
    }
    .header__logo{
        font-size: 20px;
    }
    .section__title{
        font-size: 24px;
    }
    .footer{
        font-size: 15px;
    }
}
